* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(assets/bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
/* components */
.regular-text {
  font-weight: 400;
}
.container {
  width: 300px;
  height: 496px;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.15),
    rgb(255, 255, 255, 0.15)
  );
  backdrop-filter: blur(80px);
  border-radius: 12px;
  padding: 20px;
}
.input-container {
  position: relative;
  margin-bottom: 25px;
}
.input-city {
  padding: 10px 16px;
  outline: none;
  width: 100%;
  border-radius: 99px;
  border: 3px solid transparent;
  background-color: rgb(0, 0, 0, 0.15);
  font-weight: 500;
  transition: 0.25s border;
  padding-right: 45px;
  color: rgb(255, 255, 255, 0.7);
}
.input-city:focus {
  border-color: rgb(0, 0, 0, 0.3);
}
.input-city::placeholder {
  color: rgb(255, 255, 255, 0.7);
}
.search-button {
  display: flex;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
}
.search-button i {
  color: rgb(255, 255, 255, 0.7);
}
/* weather info */
.weather-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.location-data-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.weather-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-summary-img {
  width: 120px;
  height: 120px;
}
.weather-summary-info {
  text-align: end;
}
.weather-conditions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.condition-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.condition-item i {
  font-size: 25px;
}
.forcast-items-container {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  padding-bottom: 12px;
}
.forcast-items-container::-webkit-scrollbar {
  height: 8px;
}
.forcast-items-container::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
  border-radius: 99px;
}
.forcast-items-container::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.15);
  border-radius: 99px;
}
.forcast-item {
  min-width: 70px;
  background: rgb(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 10px;
  border-radius: 12px;
  transition: 0.25s background;
}
.forcast-item:hover {
  background: rgb(0, 0, 0, 0.1);
}
.forcast-item img {
  width: 35px;
  height: 35px;
}
/* messege section */
.section-messege {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25%;
  text-align: center;
  align-items: center;
}
.section-messege img {
  height: 180px;
  width: fit-content;
}
